<%- include('../partials/header') %>
    <ul>

        <% skills.forEach(skill => { %>
            <li> 
                <form action="/skills/<%=skill.id%>?_method=DELETE" 
                method="POST">
                <button type="submit" >X</button>
                <a href="skills/<%= skill.id%>"><%= skill.skill%></a>
                </form>
                 
            </li>
        <% }) %>
    </ul>
    <a href="/skills/new">Add Skills</a>
<%- include('../partials/footer') %>


